body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    height: 90%;
    width: 90%;
    border: 2px solid #333;
}

#map {
    flex: 3;
    height: 100%;
}

#controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #f4f4f4;
}

/* 新的容器用于包含三个控件 */
#linestyle-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

/* 调整单个控件容器的宽度 */
#linestyle-controls label, 
#linestyle-controls input, 
#linestyle-controls select {
    width: 20%;
    margin-bottom: 10px;
}

/* 控件的宽度 */
input[type="color"],
input[type="number"],
select,
input[type="text"],
button {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 2px solid #333;
}
